<!DOCTYPE html>
<html>
<head>
    <title>Website Scraper</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.1/xlsx.full.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <a id="url-anchor" href="#url">Scrape Website</a> | <a id="import-anchor" href="#file-input" onclick="page_scroll(event)">Import Excel file</a>
	<h1>01 Website Scraper</h1>
    <form>
        <label for="url">Enter a website URL:</label>
        <input type="text" id="url" name="url" placeholder="https://www.example.com">
        <button type="button" onclick="scrape()">Scrape</button>
    </form>
    <h2>Scraped Data</h2>
    <div id="scraped-data"></div>
    <div id="success-message"></div>
    <button onclick="exportData('csv')">Export to Excel</button>
    <button onclick="exportData('json')">Export to JSON</button>
    <button onclick="exportData('txt')">Export to Text</button>
    <hr>
    <form method="POST" action="/upload" enctype="multipart/form-data">
        <h1>02 Excel Import </h1>
        <label for="file-input">Import Excel file:</label>
        <input id="file-input" type="file" accept=".xlsx, .xls, .csv" name="file">
        <button type="submit">Export to JSON</button>
    </form>
    <hr>

    <script>

    function page_scroll(event) {
        event.preventDefault();
        const target = document.querySelector(event.target.getAttribute("href"));
        const topOffset = target.offsetTop;
        window.scrollTo({
            top: topOffset,
            behavior: "smooth"
        });
    }


  let scrapedData = null;
  function scrape() {
    const url = document.getElementById("url").value;

    fetch("/", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({ url })
    })
      .then(response => {
        if (!response.ok) {
          throw new Error("Network response was not ok");
        }
        return response.json();
      })
      .then(data => {
        const container = document.createElement("div");
        container.innerHTML = `
          <h2><strong>Title:</strong> ${data.title}</h2>
          <p><strong>Description:</strong> ${data.description}</p>
          <ul>${data.page_text
            .split('\n')
            .filter(line => line.length > 20)
            .map(line => `<li>${line}</li>`)
            .join('')}
          </ul>
        `;
        document.getElementById("scraped-data").innerHTML = "";
        document.getElementById("scraped-data").appendChild(container);

        scrapedData = [
            { title: data.title, description: data.title, page_text: data.page_text }
        ];
        document.getElementById("success-message").innerHTML = "Scraping successful!";
      })
      .catch(error => {
        console.error(error);
        document.getElementById("scraped-data").innerHTML = "<p>An error occurred while scraping the website.</p>";
      });
  }

      function exportData(type) {
          fetch('/export', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ type, data: scrapedData,format:type })
          })
            .then(response => {
              if (!response.ok) {
                throw new Error('Network response was not ok');
              }
              return response.blob();
            })
            .then(blob => {
              const a = document.createElement('a');
              const url = window.URL.createObjectURL(blob);
              a.href = url;
              a.download = `scraped_data.${type}`;
              a.click();
              window.URL.revokeObjectURL(url);
            })
            .catch(error => console.error(error));
    }


</script>


</body>
</html>
